[submodule "jni/libpng"]
	path = jni/libpng
	url = https://android.googlesource.com/platform/external/libpng
[submodule "jni/boringssl"]
	path = jni/boringssl
	url = https://android.googlesource.com/platform/external/boringssl
[submodule "jni/libjpeg-turbo"]
	path = jni/libjpeg-turbo
	url = https://android.googlesource.com/platform/external/libjpeg-turbo
